
@keyframes fire {
    0% {
      text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000, 0 0 20px #FFD700, 0 0 30px #FFD700, 0 0 40px #FFD700, 0 0 50px #FFD700;
    }
    100% {
      text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #FFD700, 0 0 60px #FFD700, 0 0 80px #FFD700, 0 0 100px #FFD700;
    }
  }
  @keyframes dream {
    0% {
      text-shadow: 0 0 5px #33ff00, 0 0 10px #33ff00, 0 0 15px #33ff00, 0 0 20px #00bfff, 0 0 30px #00bfff, 0 0 40px #00bfff, 0 0 50px #00bfff;
    }
    100% {
      text-shadow: 0 0 10px #33ff00, 0 0 20px #33ff00, 0 0 30px #33ff00, 0 0 40px #00bfff, 0 0 60px #00bfff, 0 0 80px #00bfff, 0 0 100px #00bfff;
    }
  }

.content_data{
    display: block;
}
.lable_list{
    width: 100%;
    height: 50px;
    padding: 10px;
    border-bottom: 1px solid #000 ;
   
}
.search_lable{
    width: 100%;
    display: flex;
   padding: 30px;
}
.search{
    width: 40%;
    
    padding: 10px 15px;
    border-radius: 10px;
}
.search_input{
    width: 70%;
    height: 40px;
    padding: 5px 15px;
    border: 1px solid #006affc5;
    border-radius: 10px;
    margin-right: 10px;
}
.search_input:focus{
    outline: none;
}
.search_button{
  width: 20%;
  height: 50px;
  border-radius: 10px;
  border: none;
  background: #ffbf00;
  color: #fff;
  font-size: 14px;
}
.search_button:hover{
   background: #ff5500;
   color: #fff;

}
.admintouser{
    width: 40%;
    padding: 10px 15px;
    border-radius: 10px;
    margin-left: 50px;
}
.select_admin_user{
    appearance: none;
    width: 100%;
    height: 40px;
    align-items: center;
    padding: 5px 20px ;
    border-radius: 10px;
    border: 1px solid #006affc5;
}
.select_admin_user:focus{
    outline: none;
}
option {
    font-size: 16px;
}
.table {
    width: 100%;
    margin-right: 0;
    border-collapse: collapse;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    padding: 12px 15px;
    text-align: left;
  }
  
  .table th {
    background-color: #333;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  .table tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .table tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .table tr:last-of-type {
    border-bottom: 2px solid #333;
  }
  
  .table tr:hover {
    background-color: #f1f1f1;
  }
  
  .table td {

    font-family: 'Arial', sans-serif; /* Font chữ sang trọng và dễ đọc */
  }
  
  .table a {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    transition: color 0.3s ease;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 2px #830000;
    background-color: #FF0000;
  }
  
  .table a:hover {
    background-color: #0073ff;
    transition: color 0.3s ease;
    box-shadow: 2px 2px 5px 2px #003a81;
  }
  
  .table th:first-child,
  .table td:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  
  .table th:last-child,
  .table td:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  
  .vip{
    font-weight: 700 ;
    color: #ff0000 ;
    text-transform: uppercase; /* Chữ hoa */
    font-family: 'Arial', sans-serif; /* Font chữ sang trọng và dễ đọc */
  }
  .non_vip{
    font-weight: 700  ;
    color: #38d43b ;
    text-transform: uppercase; /* Chữ hoa */
    font-family: 'Arial', sans-serif; /* Font chữ sang trọng và dễ đọc */
  }
  .status{
    font-weight: 700  ;
    color: #0073ff  ;
  }
  .vnname{
    font-family: 'Arial', sans-serif;
    color: #e74c3c ; /* Màu đỏ nổi bật */
  font-weight: bold ;
  }
  .cnname{
    font-family: 'Arial', sans-serif;
    color: #e7833c ; /* Màu đỏ nổi bật */
  font-weight: bold ;
  }
  .create_movie{
    width: 100%;
    height: 60px;
    align-items: center;
  }
  .crate_button{
    width: 10%;
    height: 40px;
    text-decoration: none;
    border: none;
    box-shadow: 2px 2px 5px 2px #000;
    border-radius:20px ;
  background: #33ff00;
  color:#000;
  font-size: 14px;
  font-weight: 700;
  padding: 10px;
  }
  .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  margin: 0 4px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.pagination a.active {
  background-color: #008cff;
  color: white;
  border: 1px solid #008cff;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
.notification {
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 20%;
  height: 30%;
  border-radius: 10px;
  display: grid;
  place-items: center;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1001; /* Đảm bảo thông báo ở trên cùng */
  text-align: center;
  color: #000;
}

.notification_button {
  width: 50%;
  height: 40px;
  background: #e7833c;
  color: #fff;
  border: none;
  border-radius: 5px;
}
.notification_button:hover{
  background: #e74c3c;
}
.notification-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 
  background-color: rgba(0, 0, 0, 0.5); /* Màu nền mờ */
  z-index: 1000; /* Đảm bảo nền mờ ở ngay dưới thông báo */
}
