.home {
    padding: 20px;
   
  }
  
  .home .section {
    margin-bottom: 40px;
  }
  
  .home .section h2 {
    margin-bottom: 20px;
  }
  
  .home .hot-movies,
  .home .new-movies,
  .home .top-movies {
    margin-bottom: 40px;
  }
  .movie-lists{
    display: flex;
  }
  .new_movies{
    left: 3%;
    width: 65%;
    height: auto;
  }
  .top_movies{
    width: 30%;
    height: auto;
  }
  .vip_movies{
 
    top: 0px;
  }
  .to_top{
    color: #fff;
    position: absolute;
    top: 90%;
    padding-top: 3px;
    padding: 0 ;
    left: 85%;
    bottom: 10%;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    align-items: center;
    text-align: center;
    font-size: 30px;
    background: #ffaa00;
    cursor: pointer;
    display: inline-block;
    z-index: 1;
    cursor: pointer;
    opacity: 0.7;
    transition: background-color 0.3s,transform 0.3s, opacity 0.3s; 
    border: 3px solid #ffffff;
  }

  .to_top:hover {
    opacity: 1;
    transform: translateY(-10px);
    background-color: #ff1e00;
    border: 3px solid #ffffff;
  }