.vip-movies {
    padding: 20px;
    position: absolute;
    top: 0;
  
    left: 10%;
    right: 10%;
  }
  
  .vip-movies h2 {
    margin-bottom: 20px;
  }
  


  .vip-movies .movie-card .movie-info {
    padding: 10px;
    margin-left: 15px;
  }
  
  .vip-movies .movie-card .movie-info h3 {
    margin: 0;
  }
  .movie-list{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    padding: 50px;

  }
.movie_item {
  margin-left: 15px;
  margin-bottom: 20px;
}