/* src/components/Header.css */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #2e2e2e ; 
  color: white;
}

header .logo a {
  color: white;
  text-decoration: none;
  font-size: 24px;
 
}
.logo{
  display: flex;
  align-items: center;
}
.logo_img{
  width: 100px;
  height: 100px;
}
nav {
  margin-left: 30px;
  display: flex;
  align-items: center;

}

nav .dropdown {
  position: relative;
  display: inline-block;
}

nav .dropdown span {
  cursor: pointer;
  padding: 10px;
  color: white;
  text-decoration: none;
}

nav .dropdown .dropdown-content {
  display: none;
  width: 600px;
  position: absolute;
  background-color: #444;
  min-width: 160px;
  gap: 1rem;
  border-radius: 5px;
  padding: 20px ;
  z-index: 1;
  flex-wrap: wrap;
}

nav .dropdown .dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;

}

nav .dropdown:hover .dropdown-content {
  display: flex;

}
.action:hover{
  color: #e74c3c;
}
nav .dropdown .dropdown-content a:hover{
  color: #e74c3c;
}
nav a {
  color: white;
  padding: 10px;
  text-decoration: none;
}


.search-bar {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  margin-left: 0px;
}

.search-bar input {
  border: none;
  padding: 5px;
  padding-left: 30px;
  border-radius: 5px;
  outline: none;
  width: 350px;
  height: 30px;
}

.search-bar button {
  background-color: #f39c12 ;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
  height: 40px;
}

.search-bar button:hover {
  background-color: #e74c3c ;
}

.action{
  font-size: 16px !important;

}