/* src/pages/NotFound.css */
.not-found-page {
 
    height: 100vh;
    margin-top: 10%;
    text-align: center;
    padding: 50px;
    font-family: Arial, sans-serif;
  }
  
  .not-found-title {
    font-size: 200px;
    margin: 0;
    
    color: #ff0000;
  }
  
  .not-found-message {
    font-size: 24px;
    color: #ffffff;
  }
  
  .not-found-link {
    display: inline-block;
    margin-top: 20px;
    font-size: 18px;
    color: #007bff;
    text-decoration: none;
  }
  
  .not-found-link:hover {
    text-decoration: underline;
  }
  